<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Article</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ViewArticleListPageServlet</display-name>
    <servlet-name>ViewArticleListPageServlet</servlet-name>
    <servlet-class>net.homework1.web.ViewArticleListPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewArticleListPageServlet</servlet-name>
    <url-pattern>/article</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewInsertPageServlet</display-name>
    <servlet-name>ViewInsertPageServlet</servlet-name>
    <servlet-class>net.homework1.web.ViewInsertPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewInsertPageServlet</servlet-name>
    <url-pattern>/insertArticle</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoInsertServlet</display-name>
    <servlet-name>DoInsertServlet</servlet-name>
    <servlet-class>net.homework1.web.DoInsertServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoInsertServlet</servlet-name>
    <url-pattern>/doInsert</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>SetCharacterEncodingFilter</display-name>
    <filter-name>SetCharacterEncodingFilter</filter-name>
    <filter-class>net.homework1.filter.SetCharacterEncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>SetCharacterEncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>ViewDetailServlet</display-name>
    <servlet-name>ViewDetailServlet</servlet-name>
    <servlet-class>net.homework1.web.ViewDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewDetailServlet</servlet-name>
    <url-pattern>/detail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoDeleteServlet</display-name>
    <servlet-name>DoDeleteServlet</servlet-name>
    <servlet-class>net.homework1.web.DoDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoDeleteServlet</servlet-name>
    <url-pattern>/delete</url-pattern>
  </servlet-mapping>
</web-app>